# Container Types Intro

Container/Reference Types:

- `list`
- `tuple`
- `dictionary`
- `set`

In [4]:
fruits = ['apple', 'cherry', 'banana']
type(fruits)

list

In [6]:
numbers = [1, 4, 6, 7]
print(numbers)
type(numbers)

[1, 4, 6, 7]

list

In [7]:
mixed = ['apple', 1, True]
print(mixed)

['apple', 1, True]

In [9]:
list('abcd')

['a', 'b', 'c', 'd']

In [12]:
my_str = 'abcd'

my_str.split("")

ValueError: empty separator

In [17]:
numbers[10]

IndexError: list index out of range

In [18]:
numbers[3:50]

[7]

In [19]:
numbers[::2]

[1, 6]

In [27]:
a = 5
b = a
print(id(a))
print(id(b))

a += 1 # a = a + 1

print(a)
print(b)

print(id(a))
print(id(b))

1804999328112
1804999328112
6
5
1804999328144
1804999328112

In [26]:
a = [1, 2, 3]
b = a # reference assignment

print(id(a))
print(id(b))

a.append(4)

print(a)
print(b)

print(id(a))
print(id(b))

1805098930624
1805098930624
[1, 2, 3, 4]
[1, 2, 3, 4]
1805098930624
1805098930624

In [28]:
a = [1, 2, 3]
b = a.copy()

print(id(a))
print(id(b))

1805098930624
1805099307072

In [39]:
x = [
        [1, 2], 
        [3, 4]
    ]
y = x.copy()

x[0].append(5)

print(x)
print(y)

[[1, 2, 5], [3, 4]]
[[1, 2, 5], [3, 4]]

In [41]:
from copy import deepcopy
a = 1
x = [
        [a, 2], 
        [3, 4]
    ]
y = deepcopy(x)

x[0].append(5)

print(x)
print(y)

[[1, 2, 5], [3, 4]]
[[1, 2], [3, 4]]

### List Methods

- append()
- clear()
- copy()
- count()
- extend()
- index()
- insert()
- pop()
- remove()
- reverse()
- sort()

In [64]:
fruits = ['apple', 'ananas', 'banana', 'apple',]
fruits.append('cherry')
fruits

['apple', 'ananas', 'banana', 'apple', 'cherry']

In [65]:
fruits.count('apple')

2

In [66]:
# fruits.append(['melon', 'ananas'])
# fruits

In [67]:
fruits.extend(['melon', 'ananas'])
fruits

['apple', 'ananas', 'banana', 'apple', 'cherry', 'melon', 'ananas']

In [75]:
fruits.index('ananas', fruits.index('ananas')+1)

1

In [76]:
fruits.pop()

'ananas'

In [77]:
fruits

['apple', 'ananas', 'banana', 'apple', 'cherry', 'melon']

In [78]:
fruits.pop()

'melon'

In [79]:
fruits

['apple', 'ananas', 'banana', 'apple', 'cherry']

In [81]:
fruits.remove('ananas')

In [82]:
fruits

['apple', 'banana', 'apple', 'cherry']

In [84]:
fruits.remove(fruits[3])

In [85]:
fruits.remove('apple')

In [86]:
fruits

['banana', 'apple']

In [87]:
fruits.reverse() # in-place reverse

In [88]:
fruits

['apple', 'banana']

In [89]:
fruits.sort()

In [94]:
fruits = ['banana', 'a', 'ananas', 'ab']
sorted(fruits, key=lambda x: len(x))

['a', 'ab', 'banana', 'ananas']

In [96]:
numbers = [6, 4, 3, 2, 7]
sorted(numbers, reverse=True)

[7, 6, 4, 3, 2]

In [99]:
numbers = [-6, 4, 3, 2, 7]
sorted(numbers, key=lambda r: abs(r))

[2, 3, 4, -6, 7]

In [100]:
numbers

[-6, 4, 3, 2, 7]

In [101]:
numbers[0] = 1

In [102]:
numbers

[1, 4, 3, 2, 7]

In [103]:
l = [1, True, 'apple', None, 5.6]
l

[1, True, 'apple', None, 5.6]

## Tuple

In [104]:
a = (1, 2, 3)
type(a)

tuple

In [108]:
len(a)

3

In [110]:
b = (1,)
type(b)

tuple

In [111]:
a[0:1]

(1,)

In [113]:
tuple([1])

(1,)

In [114]:
a[0]

1

In [115]:
a[0] = 2

TypeError: 'tuple' object does not support item assignment

In [116]:
x = '12345'
x[0] = '2'

TypeError: 'str' object does not support item assignment

append, sort, pop, remove, extend, reverse, insert = mutate

index, count

copy,

In [ ]:
person1 = ('John', 'Doe', 40)

grades = [40, 50, 70]

In [118]:
import sqlite3

con = sqlite3.connect('chinook.db')
cur = con.cursor()

cur.execute("SELECT * FROM albums")
albums = cur.fetchall()

In [120]:
type(albums)

list

In [121]:
albums[0]

(1, 'For Those About To Rock We Salute You', 1)

In [122]:
[]

[]

In [125]:
type(()) # EMPTY TUPLE

tuple

In [126]:
empty_tuple = tuple()

In [131]:
a, b = divmod(20, 3)
a

6

In [130]:
# Tuple unpacking

id, title, artist_id = (1, 'For Those About To Rock We Salute You', 1)
title

'For Those About To Rock We Salute You'

### Dictionary

In [132]:
person = {
    'name': "John",
    'email': 'john@gmail.com',
    'age': 50
}

type(person)

dict

In [134]:
person['name']

'John'

In [135]:
person['email']

'john@gmail.com'

In [141]:
person['John']

KeyError: 'John'

In [137]:
person.keys()

dict_keys(['name', 'email', 'age'])

In [138]:
person.values()

dict_values(['John', 'john@gmail.com', 50])

In [139]:
person.items()

dict_items([('name', 'John'), ('email', 'john@gmail.com'), ('age', 50)])

In [140]:
dict([('name', 'John'), ('email', 'john@gmail.com'), ('age', 50)])

{'name': 'John', 'email': 'john@gmail.com', 'age': 50}

In [142]:
dict(name='Adam', age=40)

{'name': 'Adam', 'age': 40}

In [144]:
person['lname'] = 'Doe'

In [145]:
person

{'name': 'John', 'email': 'john@gmail.com', 'age': 50, 'lname': 'Doe'}

In [146]:
{
    1: "dfs",
    True: 'adfg'
}

{1: 'adfg'}

In [147]:
k1 = 1
k2 = False
k3 = 'key3'
k4 = (1, 2, 3)

d1 = {
    k1: 'a',
    k2: 'ab',
    k3: 'abc',
    k4: 'abcd'
}

d1

{1: 'a', False: 'ab', 'key3': 'abc', (1, 2, 3): 'abcd'}

In [148]:
d1[(1, 2, 3)]

'abcd'

In [150]:
k1 = 1
k2 = False
k3 = 'key3'
k4 = ([1, 2], [2, 3], [3, 4])

d2 = {
    k1: 'a',
    k2: 'ab',
    k3: 'abc',
    k4: 'abcd'
}

d2

TypeError: unhashable type: 'list'

In [153]:
hash('hello')

75523902459500501

In [154]:
hash((1, 2))

-3550055125485641917

In [155]:
hash([1, 2])

TypeError: unhashable type: 'list'

In [156]:
print(hash((1, 23, 65, 6, 7, 45, 4)))
print(hash((1, 23, 65, 6, 4, 45, 4)))

5119825692640102417
7177309289018732339

In [157]:
(1, 23, 65, 6, 7, 45, 4) == (1, 23, 65, 6, 4, 45, 4)

False

In [158]:
a1 = {
    'a': 1,
    'b': 2
}

a1.update({'c': 3, 'a': 5})

In [159]:
a1

{'a': 5, 'b': 2, 'c': 3}

### SET

In [164]:
letters = {'a', 'b', 'c', 'd', 'a', 'a', 'b'}
type(letters)

set

In [165]:
letters

{'a', 'b', 'c', 'd'}

In [166]:
a = ['a', 'b', 'c', 'd', 'a', 'a', 'b']
list(set(a))

['d', 'a', 'b', 'c']

In [169]:
for i in letters:
    print(i)

d
a
b
c

In [181]:
s1 = {'a', 'b', 'c'}
s2 = {'r', 'a', 'b'}

s1.union(s2)

{'a', 'b', 'c', 'r'}

In [182]:
s1 | s2

{'a', 'b', 'c', 'r'}

In [184]:
s1.difference(s2)

{'c'}

In [185]:
s1 - s2

{'c'}

In [186]:
s2.difference(s1)

{'r'}

In [187]:
s1.symmetric_difference(s2)

{'c', 'r'}

In [188]:
s1 ^ s2

{'c', 'r'}

In [190]:
'Apple' in ['apple', 'banana', 'cherry']

False

## Namedtuple

In [212]:
from collections import namedtuple

# RGB = (200, 100, 230)

Color = namedtuple("Color", ['red', 'green', 'blue'])

white = Color(255, 255, 255)
black = Color(0, 0, 0)
green = (0, 255, 0)
c = Color(200, 30, 10)

c.blue

10

In [213]:
c[2]

10

In [210]:
c = {'red': 200, 'green': 30, 'blue': 10}
c['blue']

10

In [211]:
c[0]

KeyError: 0

In [195]:
type(green)

__main__.Color

In [196]:
isinstance(green, tuple)

True

In [197]:
isinstance(green, list)

False

In [205]:
person['name']

'John'